@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Play');

body {
  margin: 0;
  height: 100vh;
  background: black;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 350px;
  padding: 15px;
  color: green;
  font-family: Courier New, Courier, monospace;
}

/* Board Tile */
span {
  border-right: 3px solid green;
  border-bottom: 3px solid green;
  width: 56px;
  height: 56px;
}

/* right column */
span[id$='2'],
span[id$='5'],
span[id$='8'] {
  border-right: none;
  width: 47px;
}

/* bottom row */
span[id$='6'],
span[id$='7'],
span[id$='8'] {
  border-bottom: none;
  height: 47px;
}
